.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5vw;
}

.container input {
    max-width: 250px;
    margin: 0 auto;
}

.container h2 {
    text-align: left;
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.btn-success.submit {
    margin-top: 15px;
    min-width: 150px;
}

.help-block {
    color: red;
}

@media only screen and (max-width: 480px) {
    .container {
        width: 100vw;
        margin: none;
        height: 100vw;
        margin-top: 5vw;
    }
    .alert {
        margin-top: 15vw;
    }
}