.container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 15vw;
}

.container h1 {
    margin-bottom: 25px;
}

.btn-success.submit {
    margin-top: 15px;
    min-width: 150px;
}

.help-block {
    color: red;
}

@media only screen and (max-width: 480px) {
    .container {
        width: 100vw;
        margin: none;
        height: 100vw;
    }
}