<div class="container">
  <div class="user-list">

    <h2>
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Administration module</h2>
    <div class="tab-panel">
      <tabset class="member-tabset" #userTabs>

        <tab heading="All users">
          <table class="table">

            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of allUsers">
                <td>{{ user?.id }}</td>
                <td>{{ user?.username }}</td>
                <td>{{ user?.email }}</td>
                <td>
                  <button [disabled]="isUserCurrentUser(user?.id)" (click)="deleteUser(user)" class="btn btn-danger">Delete</button>
                  <button (click)="changePassword()" class="btn btn-default">Change password</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <pagination [boundaryLinks]="true" [totalItems]="allUsersPagination.totalItems" [itemsPerPage]="allUsersPagination.itemsPerPage"
              (pageChanged)="allUsersPageChanged($event)" [(ngModel)]="allUsersPagination.currentPage" class="pagination-sm"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </tab>

        <tab heading="Users to allow">
          <table class="table">

            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of usersToAllow">
                <td>{{ user?.id }}</td>
                <td>{{ user?.username }}</td>
                <td>{{ user?.email }}</td>
                <td>
                  <button (click)="allowUser(user)" class="btn btn-success">Allow</button>
                  <button (click)="deleteUser(user)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>

          </table>
          <div class="text-center">
            <pagination [boundaryLinks]="true" [totalItems]="notAllowedUsersPagination.totalItems" [itemsPerPage]="notAllowedUsersPagination.itemsPerPage"
              (pageChanged)="usersToAllowPageChanged($event)" [(ngModel)]="notAllowedUsersPagination.currentPage" class="pagination-sm"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
